Zadání 1

In [ ]:
import pandas as pd

In [ ]:
zam_praha = pd.read_csv("zam_praha.txt")
zam_praha["mesto"] = "Praha"
zam_praha

In [ ]:
zam_plzen = pd.read_csv("zam_plzeň.txt")
zam_plzen["mesto"] = "Plzeň"
zam_plzen

In [ ]:
zam_liberec = pd.read_csv("zam_liberec.txt")
zam_liberec["mesto"] = "Liberec"
zam_liberec

In [ ]:
zamestnanci = pd.concat([zam_praha, zam_plzen, zam_liberec], ignore_index = True)
zamestnanci
#zamestnanci.shape

In [ ]:
platy_2021_02 = pd.read_csv("platy_2021_02.txt")
platy_2021_02.head()
#platy_2021_02.shape

In [ ]:
platy_zam = pd.merge(zamestnanci, platy_2021_02, on=['cislo_zamestnance'])
platy_zam

In [ ]:
platy_zam1 = pd.merge(zamestnanci, platy_2021_02, on=['cislo_zamestnance'], how = "outer")
platy_zam1

In [ ]:
platy_zam.groupby("mesto")["plat"].mean().round(2)

Zadání 2

In [ ]:
vykazy = pd.read_csv("vykazy.txt")
vykazy.head(10)

In [ ]:
vykazy.groupby("project")["hours"].sum()

Bonus 1

In [ ]:
nepracujici = platy_zam1[platy_zam1['plat'].isnull()]
nepracujici

In [ ]:
nepracujici.info()

#13 záznamů - nepracujících

In [35]:
nepracuji = platy_zam1[platy_zam1['plat'].isnull()]
nepracuji

        jmeno prijimeni   telefonni_cislo  cislo_zamestnance    mesto  plat
4      Marcel     Hájek  +421 902 928 669                 35    Praha   NaN
12   Karolína     Short       721 589 083                 53    Praha   NaN
13   Michelle   Vlčková  +421 41 720 7806                 54    Praha   NaN
16       John    Bailey       775 021 116                 58    Praha   NaN
17    William   Shelton  +421 47 745 8219                 60    Praha   NaN
18  Miroslava    Veselá       774 029 254                 62    Praha   NaN
21     Nathan   Svoboda       728 710 923                 66    Praha   NaN
24     Robert      Říha       727 351 984                 72    Praha   NaN
33   Jindřich    Howell  +421 39 043 0948                 10    Plzeň   NaN
34  Alexander  Martinez       721 195 689                 13    Plzeň   NaN
48   Jennifer     Brown       775 545 190                 86  Liberec   NaN
50     Robert    Macias  +421 49 929 6856                 88  Liberec   NaN
55       Ivan    Bartoš       603 226 051                 99  Liberec   NaN

In [34]:
nepracuji.to_csv('nepracuji.csv', index=False)

Bonus 2

In [ ]:
vykazy_nove = vykazy.rename(columns={'emloyee_id':'cislo_zamestnance'})
vykazy_nove

In [ ]:
nepracujici_vykazy = pd.merge(nepracuji, vykazy_nove, on=['cislo_zamestnance'])
nepracujici_vykazy

In [ ]:
nepracujici_vykazy.groupby(["project",'mesto'])["hours"].sum()